.category {
    border: solid black 3px;
    border-radius: 30px;
    padding: 10px;
    background-color: #ddd; /* Background color of grid items */
    padding: 20px; /* Padding for grid items */
    text-align: center; /* Center text horizontally */
    aspect-ratio: 1; /* Maintain aspect ratio 1:1 */
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}
.category>img {
    width: 100%;
}
#categories-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 20px; /* Gap between grid items */
    padding: 20px;
    justify-items: center;
    align-items: center;
}

@media (max-width: 900px) {
    #categories-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }
    .category {
        max-width: 130px;
        max-height: 130px;
    }
}

@media (max-width: 500px) {
    #categories-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }
    .category {
        max-width: 120px;
        max-height: 120px;
    }
}