.contentContainer {
    text-align:left;
    font-family: sans-serif;
    width: 90%;
    height: 90%;
    max-width: 800px;
}

.contentContainer>.button {
    margin: 20px 0;
}


.contentContainer>h1 {
    width: 100%;
    padding: 20px;
    text-align: center;
}

#textContent {
    padding: 30px;
    overflow-y: scroll;
}

#textContent>img {
    width: 400px;
}

#textLesson {
    padding: 30px;
    overflow-y: scroll;
}

#textLesson>img {
    width: 400px;
}

.contentButtons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
.contentBTN {
    margin: 10px;
}
.contentBTN>p {
    text-wrap: nowrap;
}

@media (max-width: 490px) {
    .contentBTN {
        padding: 5px;
    }
    .contentBTN>p {
        font-size: 25px;
    }
}

@media (max-width: 410px) {
    .contentBTN {
        padding: 5px;
    }
    .contentBTN>p {
        font-size: 20px;
    }
}