.verticalButtons {
    flex-wrap: wrap;
}
.verticalButtons>div {
    margin: 10px;
}

.questionThing {
    border: white 3px solid;
    padding: 10px;
}

.qContainer {
    border: white 3px solid;
    padding: 10px;
}

#createBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
#createBtn:hover {
    color: white;   
}