.creatorTab {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #09001d;
    border: 3px solid #950170;
    border-radius: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.creatorButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 15px;
    border: 3px solid white;
    margin: 0px 10px;
}

.creatorButton:hover {
    cursor: pointer;
    background: white;
    color: #950170;
}

.verticalButtons {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 3px solid #950170;
    border-bottom: 3px solid #950170;
    margin: 20px 0px;
}

.verticalButtons>div {
    margin: 10px;
}

.questionThing {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: white 3px solid;
    padding: 30px;
}

.creatorAddAnswer {
    width: 50%;
    height: 25px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-right: 20px;
}

.creatorAddQuestion {
    width: 50%;
    height: 25px;
    margin-left: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.qContainer {
    border: white 3px solid;
    padding: 10px;
}

#createBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#createBtn:hover {
    color: white;
}

.chooseCategory {
    width: 200px;
    padding: 10px;
    background: #950170;
    border: 3px solid black;
    color: white;
    appearance: none;
    border-radius: 5px;
    font-size: 16px;
}

.chooseTitle {
    width: 300px;
    height: 50px;
    border: 3px solid;
    border-radius: 5px;
}

.creatorAddAnswerContainer {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.creatorQuizButton {
    outline: none;
    padding: 10px 40px;
    border: 3px solid white;
    background: transparent;
    color: white;
}

.removeAnswerBtn {
    outline: none;
    padding: 5px 20px;
    border: 3px solid white;
    background: transparent;
    color: white;
    margin: 10px 0px 0px 10px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.chooseCategoryAnswer {
    width: 300px;
    padding: 10px;
    background: #950170;
    border: 3px solid black;
    color: white;
    appearance: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}

.allQuestionsContainer {
    width: 80%;
    margin: 20px 0px 20px 0px;
}

.addedQuestion {}

.addedAnswer {}

.addedCorrect {}

.addedUl {}

.addedBtn {}

.creatorQuizButton:hover,
.removeAnswerBtn:hover {
    cursor: pointer;
    background: white;
    color: #950170;
}

@media (min-width: 800px) {
    .creatorButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        padding: 15px;
        border: 3px solid white;
    }
}

/* Scroll bar */

/* width */
.creatorTab::-webkit-scrollbar {
    width: 8px;
    color: none;
    background: none;
}

/* Track */
.creatorTab::-webkit-scrollbar-track {
    margin: 30px 0;
    background: #f1f1f100;
}

/* Handle */
.creatorTab::-webkit-scrollbar-thumb {
    background: #3d1051;
    border-radius: 20px;
}

/* Handle on hover */
.creatorTab::-webkit-scrollbar-thumb:hover {
    background: #741b79;
}