#lessons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: auto;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.lesson {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    background-color: #424769;
    border: white solid 3px;
    border-radius: 10px;
    margin: 15px;
    font-size: 20px;
    font-family: "Manrope", sans-serif;
    padding: 5px;
    text-align: center;
    text-wrap: wrap;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, filter 0.5s ease;
}

.lesson:hover {
    cursor: pointer;
    filter: brightness(1.2) drop-shadow(10px 12px 14px rgba(0, 0, 0, 0.5));
    transition: filter 250ms ease;
}

.lesson:active {
    cursor: pointer;
    filter: brightness(1.5) drop-shadow(10px 12px 14px rgba(0, 0, 0, 0.5));
    transition: filter 250ms ease;
}

.lesson-span {
    font-size: 1.5rem;
    overflow-y: auto;
}

.locked {
    background-color: red;
    position: relative;
    pointer-events: none;
}

.lockImage {
    position: absolute;
    width: 200px;
}