*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tabs {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #424769;
}

body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #424769;
    opacity: 0;
    transition: opacity 5s ease;
}

.container {
    width: 70%;
    height: 70%;
    background-color: #2D3250;
    border-radius: 40px;
    border: solid rgb(255, 255, 255) 4px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 8px 12px rgba(0.2, 0.2, 0.2, 0.5);
    transition: transform 250ms ease;
}

.titleContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}

.title {
    font-size: 64px;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

.text {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;
}

img {
    -drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.returnImage {
    width: 100%;
    filter: invert(1);
    transition: filter 0.5s ease;
    /* background-color: red; */
}

.returnContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 1%;
    width: 170px;
}

.returnImage:hover {
    cursor: pointer;
    filter: invert(1) drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

@media (max-width: 1300px) {
    .returnContainer {
        top: 5%;
        left: 5%;
        width: 100px;
    }
}