#menu {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu>.imagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
}

#settings_button {
    height: 70px;
    position: absolute;
    top: 5%;
    left: 4%;
    filter: invert(1);
}

#settings_button:hover {
    cursor: pointer;
}

#settingsImage {
    height: 100%;
    width: auto;
    margin: 10px, 10px 0, 0;
    transition: filter 0.3s ease;
}

#home_button {
    height: 70px;
    position: absolute;
    top: 5%;
    right: 4%;
}

#home_button>#homeimage {
    height: 100%;
    width: auto;
    margin: 10px, 10px 0, 0;
    filter: invert(1);
    transition: filter 0.3s ease;
}

#homeimage:hover {
    filter: brightness(1.2) drop-shadow(10px 12px 14px rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

.image {
    width: 100%;
    padding: 10px;
    transition: filter 1s ease;
}

.image:hover {
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}


#start {
    width: 383.96px;
    height: 93.16px;
    top: 728px;
    left: 541.2px;
    border-radius: 37px;
    border: 5px solid black;
    transform: rotate(-0.13deg);
    background: #209A45;
    transition: filter 0.3s ease;
}

#start:hover {
    cursor: pointer;
    filter: brightness(1.2) drop-shadow(10px 12px 14px rgba(0, 0, 0, 0.5));
}

#start>.start {
    font-family: 'Modak';
    font-size: 64px;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    text-shadow: -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}