.containerProfile {
    width: 90%;
    height: 90%;
    background-color: #2D3250;
    border-radius: 40px;
    border: solid rgb(255, 255, 255) 4px;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 12px rgba(0.2, 0.2, 0.2, 0.5);
    transition: transform 250ms ease;
}

.sidesProfile {
    width: 100%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: row;
    /* flex-wrap: wrap; */
    overflow-y: scroll;
}

.sidesProfile::-webkit-scrollbar {
    color: none;
    background: none;
}

.sidesProfile::-webkit-scrollbar-thumb {
    background: #4b5489;
    width: 6px;
    border-radius: 20px;
}

.sidesProfile::-webkit-scrollbar-thumb:hover {
    background: #5e6aac;
}

.leftProfile,
.rightProfile {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topProfile {
    width: 100%;
    margin-top: 70px;
    display: flex;
    position: relative;
}

.heartContainer,
.diamandContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.heartContainer {
    width: 50%;
    height: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -45px;
    left: 0px;
}

.diamandContainer {
    width: 50%;
    height: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -45px;
    right: 0px;
}

.diamand,
.heart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid gray;
    border-radius: 30px;
    padding: 0px 10px;
    background: #424769;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, filter 0.5s ease;
}

.heartText,
.diamandText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    margin-left: 10px;
}

.heart:hover,
.diamand:hover {
    filter: brightness(1.2) drop-shadow(10px 12px 14px rgba(0, 0, 0, 0.5));
    transition: filter 250ms ease;
}

.diamand>img,
.heart>img {
    width: 50px;
}

.avatarProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 10px;

}

.avatarContainer {
    display: flex;
    width: 90%;
    border: 3px solid #7077A1;
    box-shadow: 5px 4px 1px #7077A1;
    border-radius: 10px;
    flex-direction: row;
    padding: 15px;
}

.avatarProfile>img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid black;
}

.infoProfile {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    padding: 10px;
}

.infoProfile>.name {
    font-family: serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

.infoProfile>.id {
    font-style: normal;
    font-family: serif;
    font-weight: 700;
    font-size: 16px;
    color: #b9bfe6;
}

.infoProfile>.registration {
    font-family: serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}

.statisticsProfile {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.titleStat {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
}

.titleAchiv {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 64px;
}

.statsBlock {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 3px solid;
    border-radius: 20px;
    margin-top: 20px;
    background: #656da2;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, filter 0.5s ease;
}

.leftStat {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leftStat>img {
    width: 100px;
}

.statisticsLine {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 3500px;
    height: 40px;
    border: 3px solid white;
    border-radius: 20px;
    margin-left: 10px;

    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.statisticsLine>img {
    width: 60px;
    position: absolute;
    right: -8px;
}

.statsBlock:hover {
    filter: brightness(1.2) drop-shadow(10px 12px 14px rgba(0, 0, 0, 0.5));
    transform: translateY(-2px);
}

.achievements {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.achieveContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.textGray {
    position: absolute;
    right: -30px;
    top: 0px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: #3a3f5f;
}

.achieveContainer>.bar {
    width: 100%;
    background: linear-gradient(to right, rgb(59, 181, 59) 75%, rgb(157, 157, 157) 25%);
    padding: 10px;
    border-radius: 20px;
}

.achievements>.blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 400px;
    width: 100%;
    height: 150px;
    border: 3px solid lightgray;
    border-radius: 20px;
    padding: 20px 40px;
    margin-top: 20px;
    background: #7077A1;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, filter 0.5s ease;
}

.achievements>.blocks>img {
    width: 120px;
}

.achievements>.blocks:hover {
    filter: brightness(1.2) drop-shadow(10px 12px 14px rgba(0, 0, 0, 0.5));
    transform: translateY(-5px);
}

.buttonContainerProfile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

@media (min-width: 1015px) {
    .heartContainer {
        width: 50%;
        height: 20px;
        display: flex;
        justify-content: center;
        position: absolute;
        top: -45px;
        left: 0px;
    }

    .diamandContainer {
        width: 50%;
        height: 20px;
        display: flex;
        justify-content: center;
        position: absolute;
        top: -45px;
        right: 0px;
    }

    .lineHTML,
    .lineCSS,
    .lineJavaScript,
    .linePython {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 350px;
        height: 40px;
        border: 3px solid white;
        border-radius: 20px;
        background: linear-gradient(to right, rgb(219, 176, 56) 60%, rgb(153, 153, 153) 40%);
        margin-left: 10px;

        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
    }
}

@media (max-width: 870px) {

    .leftProfile,
    .rightProfile {
        width: 90%;
    }

    .lineHTML,
    .lineCSS,
    .lineJavaScript,
    .linePython {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 3500px;
        height: 40px;
        border: 3px solid white;
        border-radius: 20px;
        background: linear-gradient(to right, rgb(219, 176, 56) 60%, rgb(153, 153, 153) 40%);
        margin-left: 10px;

        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .avatarContainer {
        flex-direction: column;
        align-items: center;
    }

    .text {
        font-size: 25px;
    }

    .textLittle {
        font-size: 20px;
    }

    .avatarProfile {
        width: 50%;
    }

    .statsBlock {
        padding: 10px;
    }

    .leftStat>img {
        width: 50px;
    }

    .leftStat>.text {
        font-size: 14px;
    }

    .lineHTML,
    .lineCSS,
    .lineJavaScript,
    .linePython {
        height: 25px;
    }

    .lineHTML>img,
    .lineCSS>img,
    .lineJavaScript>img,
    .linePython>img {
        width: 40px;
    }

    .titleAchiv {
        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 50px;
    }
}

@media (max-width: 890px) {
    .sidesProfile {
        flex-direction: column;
        align-items: center;
    }

    .leftProfile,
    .rightProfile {
        width: 90%;
    }

    .achievements>.blocks {
        width: 90%;
        padding-left: 5px;
        height: 200px;
    }

    .achievements>.blocks>img {
        width: 50%;
    }

    .textGray {
        top: -15px;
        right: -20px;
        position: absolute;
    }

    .achievements>.title,
    .statisticsProfile>.title {
        font-size: 40px;
    }
}

.canClaim {
    background-color: rgb(252, 255, 157);
}

.shake {
    animation: jump-shaking 0.83s infinite;
}

@keyframes jump-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateY(-9px) }
    35% { transform: translateY(-9px) rotate(17deg) }
    55% { transform: translateY(-9px) rotate(-17deg) }
    65% { transform: translateY(-9px) rotate(17deg) }
    75% { transform: translateY(-9px) rotate(-17deg) }
    100% { transform: translateY(0) rotate(0) }
}