.containerSettings {
    width: 60%;
    height: 90%;
    background-color: #2D3250;
    border-radius: 40px;
    border: solid rgb(255, 255, 255) 4px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 8px 12px rgba(0.2, 0.2, 0.2, 0.5);
    transition: transform 250ms ease;
}

.titleSettings {
    font-size: 50px;
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.flagsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.titleContainerSettings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.en,
.ro,
.ru {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    background: #7077A1;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, filter 0.5s ease, outline 100ms ease;
}

.en>img,
.ro>img,
.ru>img {
    width: 60%;
}

.en:hover,
.ro:hover,
.ru:hover {
    cursor: pointer;
    filter: brightness(1.2) drop-shadow(10px 12px 14px rgba(0, 0, 0, 0.5));
    transform: translateY(-5px);
}

.en:active,
.ro:active,
.ru:active {
    cursor: pointer;
    filter: brightness(1.5) drop-shadow(10px 12px 14px rgba(0, 0, 0, 0.5));
    transform: translateY(-5px);
}

.active {
    filter: brightness(1.3) drop-shadow(10px 12px 14px rgba(0, 0, 0, 0.5));
    transform: translateY(-5px);
    outline: solid white 4px;
}

.soundEffectsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.soundEffectsTextContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.soundEffectsImageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.soundEffectsOnImageContainer,
.soundEffectsOffImageContainer {
    width: 35%;
    min-width: 100px;
    max-width: 200px;
    transition: filter 0.5s ease;
    /* margin-left: -50px; */
}

.soundEffectsOffImageContainer {
    display: none;
    transform: translateX(7px);
}


.soundEffectsOnImageContainer:hover,
.soundEffectsOffImageContainer:hover {
    cursor: pointer;
    filter: drop-shadow(5px 5px 3px #7077A1);
}

.buttonContainerSettings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

@media (max-width: 650px),
(max-height: 650px) {
    .title {
        font-size: 50px;
    }

}

@media (max-width: 1100px) {
    .containerSettings {
        width: 70%;
        /* height: 70%; */
    }
}

@media (max-width: 600px) {
    .containerSettings {
        width: 80%;
        /* height: 60%; */
    }

    .titleSettings {
        font-size: 30px;
    }

    .en,
    .ro,
    .ru {
        width: 70px;
        height: 70px;
    }

    .button {
        padding: 10px 20px;
    }

}