*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
    font-family: 'Modak';
    src: url('./assets/Modak/Modak-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poetsenone';
    src: url('./assets/Poetsenone/PoetsenOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    background: #0F470E;
    display: flex;
    overflow: hidden;
    user-select: none;
    opacity: 0;
    transition: opacity 3s;
    position: relative;
}

/* default => js changes */
:root {
    --correct-width: 100%;
    --wrong-width: 100%;
    --correct-content: '100%';
    --wrong-content: '0%';
    --drop-shadow-effect: drop-shadow(20px 25px 30px rgba(0, 0, 0, 0.7));
}