* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#map {
    display: flex;
    flex-direction: column;
    background: #0F470E;
    width: 100%;
    height: 100vh;
}

#titleMapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleMap {
    font-family: 'Modak';
    font-weight: 200;
    color: white;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

#containerMap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.lvl {
    padding: 40px 20px;
    border: 3px solid;


}